.bio {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;

    &-caption {
        margin: 0 4rem 0 6rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        #plus-dinfos {
            font-size: 25px;

            a {
                font-size: 25px;
            }
        }

        &-title {
            font-size: 40px;
        }

        p {
            color: #333;
            font-size: 18px;
            line-height: 1.6; 
            margin: 0 0 2rem; 
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
            text-align: justify;
        }
    }
    &-image {
        width: 160rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0 4rem;

        &-file {
            width: 100%;
            border-radius: 15px;
            transition: transform 0.2s;

            &:hover {
                transform: scale(1.02);
                box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
            }
        }
    }
}

@media screen and (max-width: 1440px) {
    .bio {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 4rem;

        &-image {
            width: 55%;
        }

        &-caption {
            margin-bottom: 3rem;
        }
    }
}

@media screen and (max-width: 1200px) {
    .bio {
        margin-top: 0;

        &-caption {
            margin: 0 3rem 3rem 3rem;

            p {
                font-size: 20px;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .bio {
        
        &-caption {
            margin: 0 1.3rem;

            #plus-dinfos {
                margin-bottom: 2rem;
            }

            p {
                font-size: 15px;
            }
        }
    }
}